<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <h1>Ahmad balbissi</h1>
        <p>Full Stack developer with 2 years of experience</p>
        <a id="a1" href="https://github.com/abalbissi">My github</a><br>
        <img class="portrait" src="/img/image.jpg">
    </div>
    
    {{>footer}}
</body>

</html>